<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first site</title>
</head>

<body>
    <p>Завдання для виконання</p>
    <ol>
        <li>Створити 2-3 параграфа із текстом всередині(текст може бути довільний).</li>
        <li>Створити 2 різних списка на 4-6 пунктів (один список маркований, а другий пронумерований).</li>
        <li>Всередині параграфа, створити один список із довільними пунктами.</li>
    </ol>
    <ul>
        <li>Створити пронумерований список (3-4) і у пунктах списка створити по одному параграфу із текстом.</li>
    </ul>
    <a href="task1.html">Completed tasks</a>
</body>

</html>