<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Homework_1</title>
</head>

<body>
    <h3>Завдання 1</h3>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, inventore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, inventore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, inventore.</p>
    </div>
    <h3>Завдання 2</h3>
    <div>
        <ol>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Aspernatur fugit laudantium totam saepe, iusto eligendi ipsum.</li>
            <li>Fugiat voluptas magnam esse accusantium quaerat nobis odio?</li>
            <li>Amet id beatae ex, maxime velit fugit voluptatem.</li>
            <li>Enim, modi aspernatur. Unde quidem beatae accusamus nemo.</li>
            <li>Laborum, sunt totam corporis optio commodi harum excepturi.</li>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </ol>

        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Facilis nesciunt optio itaque expedita natus. Aperiam, cumque!</li>
            <li>Voluptatibus aperiam ipsa ducimus. Id nulla laborum ipsa.</li>
            <li>At voluptates mollitia quidem, quos perferendis non facere!</li>
            <li>Corrupti necessitatibus, inventore eum odio quo laboriosam molestias.</li>
            <li>Debitis ducimus quam blanditiis nemo assumenda atque voluptate?</li>
        </ul>
    </div>
    <h3>Завдання 3</h3>
    <div>
        <p>
            <li>Lorem, ipsum dolor.</li>
        </p>
    </div>

    <h3>Завдання 4</h3>
    <div>
        <ol>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
            <li>
                <p>Tempore odio quasi doloremque officia voluptates sit ipsam.</p>
            </li>
            <li>
                <p>Molestias incidunt quis ea quo ut suscipit corrupti?</p>
            </li>
            <li>
                <p>Beatae omnis sint iure expedita sed aperiam! A.</p>
            </li>
        </ol>
    </div>

</body>

<script src="../../run.js"></script>

</html>